{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react", "babel"],
  "globals": {
    "document": true,
    "window": true,
    "StripeEvent": true,
    "CoinbaseAccount": true,
    "StripeCheckout": true,
    "StripeAcct": true,
    "User": true,
    "country": true,
  },
  "rules": {
    "no-underscore-dangle": 0,
    "no-param-reassign": [2, { "props": false }],
    "camelcase": 0,
    "react/no-unused-prop-types": [2, { skipShapeProps: true }],
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "react/prefer-stateless-function": [2, { "ignorePureComponents": true }],
  }
}
