{
  "extends": "airbnb",
  "parser": "babel-eslint",
  "plugins": ["react", "babel"],
  "globals": {
    "document": true,
    "window": true,
    "StripeEvent": true,
    "CoinbaseAccount": true,
  },
  "rules": {
    "no-underscore-dangle": 0,
    "camelcase": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
  }
}
