
.highlight1 {
  // width: 20px;
  // height: 20px;
  background: #2ECC71;
  // border-radius: 50%;
  // position: absolute;
  // top: -8px;
  // right: 50px;
  animation: pulse 3s ease-in-out infinite  ;
}

@keyframes pulse {
  0%, 70% {
    box-shadow: 0px 0px 0px 0px rgb(46, 204, 113);
  }
  100% {
    box-shadow: 0px 0px 0px 50px rgba(139, 195, 74, 0);
  }
}
